.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #ff4646;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.foot{
  color: #fc8621;
}

.btn {
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   height: 19px;
   line-height: 19px;
   color: #FDFEFF;
   font-family: Arial;
   width: 76px;
   font-size: 11px;
   font-weight: 200;
   padding: 4px;
   background-color: #4390E6;
   border: solid #0059A0 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 10px;
}

.btn:hover {
   background: #9f5f80;
   border: solid #F54619 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
